html,body {
	height: auto;
	min-height: 100%;
	padding-bottom: 100px;
}

#question_div, #binary_div, #numeric_range_div, #date_range_div{
display:none;
}

#container {
	height: 100%;
	padding: 10px;
}

#left_div {
	float: left;
	width: 45%;
}

#right_div {
	float: right;
	width: 45%;
}

#user_div, #mod_div {
	float: right;
	width: 100%;
}

#user_feedback, #mod_feedback {
	width: 95%;
	height: 300px;
}